<header>
    <nav>
        <ul>
            <li><i class="fa fa-paper-plane-o"></i></li>
			<!--get the nav links in  _config.yml -->
			{% for link in site.nav %}
			<li><a href="{{ site.baseurl }}{{ link[1]}}">{{ link[0] }}</a></li>
			{% endfor %}
        </ul>
    </nav>

    {% if page.previous %}
    <a id="oldPostBtn" class="btn nav-button" href="{{ site.baseurl }}{{ page.previous.url }}" title="上一篇"><i class="btn fa fa-3x fa-angle-left"></i></a>
    {% endif %}

    {% if page.next %}
    <a id="nextPostBtn" class="btn nav-button" href="{{ site.baseurl }}{{ page.next.url }}" title="下一篇"><i class="btn fa fa-3x fa-angle-right"></i></a>
    {% endif %}
</header>