@import "predefine";

#calendar {
  z-index: 99;
  color: $text;
  font-weight: bold;
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fefefe;
}

#dateTable {
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
  max-width: 470px;
  min-width: 300px;
  position: absolute;
  padding: 2em;
  background-color: #fefefe;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.calheader-item {
  display: inline-block;
  font-size: 1.5em;

  &:hover .btn {
    color: $text;
  }

  .btn {
    color: $text-light;

    &:hover {
      color: $theme;
    }
  }
}

#closeBtn {
  font-size: 1.3em;
}

.cal-month {
  border: 1px solid transparent;
  color: $text-light;
  border-top-color: $text-light;
  border-bottom-color: $text-light;

  &:hover {
    color: $text;
    border-top-color: $text;
    border-bottom-color: $text;
  }

  li:hover {
    color: $theme;
    cursor: pointer;
  }

  &__now {
    color: $text;
  }
}

.cal-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;

  li {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    margin: .1em .3em;
  }
}

.cal-day a {
  display: block;
  width: 100%;
  @include circle-box;
  border: 1px solid $theme;
  color: $theme;

  &:hover {
    background: $theme;
    color: #fff;
    @include transition-prop(background);
  }
}

.cal-day.outmonth {
  color: $text-light;
}

.now {
  color: $theme;
}
