@media screen and (max-width: $layout-breakpoint-medium)  {
	.paper {
        box-shadow: none;
	}
}

@media screen and (max-width: $layout-breakpoint-small)  {
	.paper {
        padding: 5rem 1em;
        text-align: justify;
    }
    #openBtn {
        text-align: left;
        right: auto;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    header {
        padding: 1.6rem 1rem 4rem;
    }
    footer {
        padding: 2rem 1rem;
    }
    #dateTable {
        width: 100%;
        padding: 0;
    }
    #calMonth {
        overflow: scroll;
    }
    .cal-week, .cal-body-day, #calHeader {
        padding-left: 1em;
        padding-right: 1em;
        box-sizing: border-box;
    }
}
